.nav{
    display: block;
    padding: 20px 10px;
    text-align: left;
    text-decoration: none;
    color: white;
    transition: .4s;
}

.nav:hover{
    background-color: rgba(192, 72, 72, .5);
}

